@use 'base/variables' as v;
.resumen-contenido {
    span {
        color: v.$azul;
        font-weight: v.$bold;
        font-size: 2.2rem;
    }
    .boton {
        margin-bottom: 0rem;
    }
    h3 {
        margin-top: 3rem;
    }
}

.contenedor-servicio {
    border-bottom: 1px solid v.$gris;
}